* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --color-bg: rgb(5, 31, 32);
  --color-btn: rgb(218, 241, 222);
  --color-border: rgba(142, 182, 155, 0.086);
  --color-border-img-profile: rgba(142, 182, 155, 0.215);
   --color-border-btn: rgba(142, 182, 155, 0.692);
  --color-card: rgb(35, 83, 71);
  --color-card-filtro: rgba(142, 182, 155, 0);
  --color-text: rgb(11, 43, 38);
  --color-bg-gradient: linear-gradient(
    135deg,
    rgb(3, 19, 20) 0%,
    rgb(5, 31, 32) 50%,
    rgb(11, 43, 38) 100%
  );
}
body {
  background:
    linear-gradient(
      135deg,
      rgba(5, 31, 32, 0.317) 0%,
      rgba(11, 43, 38, 0.85) 100%
    ),
    /* Capa 2 (Abajo)*/ url("/public/fondo-portafolio.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
  color: white;
  width: 100dvw;
  height: 100dvh;
  font-family: "Lato", sans-serif;
  font-weight: 200;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button{
  border: none;
}
a{
  text-decoration: none;
}