* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --color-bg: rgb(5, 31, 32);
  --color-btn: rgb(218, 241, 222);
  --color-border: rgba(142, 182, 155, 0.086);
  --color-border-img-profile: rgba(142, 182, 155, 0.215);
  --color-border-btn: rgba(142, 182, 155, 0.692);
  --color-card: rgb(35, 83, 71);
  --color-card-filtro: rgba(142, 182, 155, 0.001);
  --color-text: rgb(11, 43, 38);
  --color-bg-gradient: linear-gradient(
    135deg,
    rgb(3, 19, 20) 0%,
    rgb(5, 31, 32) 50%,
    rgb(11, 43, 38) 100%
  );
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  margin: 0;
  color: white;
  width: 100dvw;
  font-family: "Lato", sans-serif;
  font-weight: 200;
  font-style: normal;
  min-height: 100vh !important;
  height: auto !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 4rem 0;
  gap: 60px;
  position: relative;
}

body::before {
  content: "";
  position: fixed; /* Congela la imagen en la pantalla */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100lvh; /* Bloquea la altura al tamaño máximo de la pantalla */
  z-index: -2; /* Lo envía al fondo, detrás de las tarjetas de cristal */
  pointer-events: none; /* Evita que bloquee los clicks de los botones */

  background:
    linear-gradient(
      135deg,
      rgba(5, 31, 32, 0.317) 0%,
      rgba(11, 43, 38, 0.85) 100%
    ),
    url("/public/fondo-portafolio.jpg");
  background-size: cover;
  background-position: center;

}

button {
  border: none;
}
a {
  text-decoration: none;
}

.btn {
  border: 1px solid var(--color-border-btn);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-btn);
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  color: var(--color-bg);
  font-weight: 300;
  transition:
    transform ease 0.2s,
    background-color ease 0.2s;
}
.btn:hover {
  transform: scale(1.05);
  background-color: var(--color-bg);
  box-shadow:
    inset 0 4px 20px rgba(0, 0, 0, 0.2),
    0 0 50px var(--color-btn);
  color: var(--color-btn);
}
.btn:hover svg,
.btn:hover g,
.btn:hover path {
  fill: var(--color-btn);
}
